<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="justify-center items-center w-full h-screen flex">
    <h1 class="text-2xl font-extrabold">{{ typedText$ | async }}</h1>
    <div class="text-3xl font-bold m-4 flex flex-col items-center gap-4 justify-center border-2 border-gray-300 p-4 rounded-lg shadow-lg h-auto hover:p-6 transition-all duration-300" id="caja">
        <p class="text-lg " >Contador: {{ counter }}</p>
         <p class="text-lg " >Contador Signal: {{ counterSignal() }}</p>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded hover:scale-105 transition-transform duration-200" (click)="increment(1)">Incrementar</button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded hover:scale-105 transition-transform duration-200" (click)="increment(-1)">Decrementar</button>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded hover:scale-105 transition-transform duration-200" (click)="reset(0)">Reset</button>
    </div>
</body>
</html>